<%= render 'shared/header_detail', title: 'コーヒー豆を登録', show_back_button: true %>
<div class="min-h-screen bg-[#efefef] flex items-center justify-center relative">
  <div class="w-full max-w-4xl mx-auto">
    <div class="bg-white p-8">
      <!-- フォームパーシャル -->
      <%= render "form", button_text: "登録する" %>
    </div>
  </div>
</div>
