<div class="mb-4 text-right">
  <div class="inline-block max-w-md p-3 rounded-lg bg-[rgba(37,37,37,0.04)] text-black">
    <p class="text-sm text-left break-words whitespace-pre-wrap"><%= message.content %></p>
    <span class="text-xs opacity-75"><%= message.created_at.in_time_zone('Asia/Tokyo').to_fs(:short) %></span>
  </div>
</div>
