<%= render 'shared/header_detail', title: 'AIチャット', show_back_button: false %>
<div class="min-h-screen bg-[#efefef]">
  <div class="w-full max-w-4xl sm:max-w-full mx-auto">
    <div class="flex h-screen">
      <%= render 'chat_threads/thread_sidebar', 
                 chat_threads: @chat_threads, 
                 current_thread: @current_thread %>
      
      <div class="flex-1 flex flex-col bg-white">
        <%= render 'chat_threads/message_list', messages: @messages %>
        <%= render 'chat_threads/message_form', 
                   current_thread: @current_thread,
                   is_new_thread: @is_new_thread %>
      </div>
    </div>
  </div>
</div>
