<div class="flex h-screen">
  <!-- 左：スレッド一覧 -->
  <div class="w-64 bg-gray-100 overflow-y-auto hidden md:block">
    <% @threads.each do |thread| %>
      <%= link_to ai_chat_path(thread), class: "block px-4 py-3 hover:bg-gray-200" do %>
        <div class="font-semibold"><%= thread.title || "新しいチャット" %></div>
        <div class="text-xs text-gray-500 truncate">
          <%= thread.chat_messages.last&.content %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- 右：チャット画面 -->
  <div class="flex-1">
    <%= render "chat_window" %>
  </div>
</div>
